*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0;
}

.tank{
    height: 400px;
    width: 300px;
    /* background-color: white; */
    border: 2px solid black;
    margin-top: 50px;
    margin-left: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 0px 0px;
    transition: 'background';
    transition-duration: 1s;
    
    
}
.tapPipe{
    height: 20px;
    width: 250px;
    border: 2px solid black;
    margin-top: 60px;
    margin-left: 0px;
    background-color: gray;
   border: none;
    

}

.tapbtn{
    height: 20px;
    width: 50px;
    margin-top: 350px;
    position: relative;
    top: 55px;
    left: 235px;
    background-color: gray;
    border-radius: 10px 10px 0px 0px;
}
.tapHole{
    height: 60px;
    width: 20px;
    background-color: gray;
    position: relative;
    top: 425px;
    left: 200px;
    /* border-radius: 0px 0px 10px 10px; */
}
.tub{
    height: 400px;
    width: 100px;
    border: 2px solid black;
    border-radius: 0px 0px 40px 40px;
    /* margin-top: 110px; */
    margin-left: 1107px;
    
    overflow: hidden;
    background-color: rgb(40, 197, 249);
}
#tub1{
    height: 398px;
    width: 98px;
    border: 2px solid black;
    /* border-radius: 0px 0px 40px 40px; */
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
.water{
    width: 20px;
    height: 190px;
    /* border: 1px solid black; */
    margin-left: 250px;
    background-color: rgb(40, 197, 249);
    margin-top: 20px;
    visibility: hidden;
}

.main1-1-1 img{
    height: 35px;
    width: 35px;
    margin-top: 340px;
    
    margin-left: 240px;
}
.tank:hover{
background-color: rgb(255, 255, 255);
}

#bluetank{
    height: 397px;
    width: 297px;
    /* background-color: white; */
    /* border: 2px solid black; */
   
    background-color: rgb(40, 197, 249);
    border-radius: 10px 10px 0px 0px;
   
    overflow: hidden;
}

